/* Basic styling */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.background-img {
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}

.btn-1 {
    padding: 18px 20px;
    background-color: orange;
    font-size: 26px;
    border-radius: 30px;
    border: none;
    color: #fff;
    font-weight: bold;
    margin-top: 50px;
}

.btn-1:hover {
    background-color: #fff;
    color: black;
}

.navbar {
    background-color: #fff;
    display: flex;
    position: fixed;
    top: 0;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    z-index: 9999;
}

.navbar a {
    color: rgb(5, 5, 169);
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    margin-left: 25px;
    margin-right: 25px;
    font-size: 22px;
    font-weight: bold;
}

.navbar a:hover {
    background-color: #ddd;
    color: black;
}

.logo {
    position: absolute;
    left: 40px;

}

.content1 {
    width: 800px;
    margin-left: 80px;
    margin-top: 300px;
    position: absolute;
    top: 100px;
    left: 60px;
}

.qoute h1 {
    font-size: 50px;
    color: #fff;
}

.content1 p {
    font-size: 25px;
    color: #fff;
}

.Container2 {
    margin-top: 150px;
    padding-left: 120px;
    padding-right: 120px;
    display: flex;
    justify-content: space-between;
    gap: 70px;
}

.grid-right {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 80px;
}

.left-content img {
    margin-top: 100px;
}

.right-content .why {
    font-size: 40px;
    line-height: 1.2;
    color: rgb(54, 54, 54);
}

.one p {
    font-size: 25px;
    color: rgb(106, 104, 104);
}

.one h1 {
    font-size: 30px;
    color: rgb(96, 92, 92);
}

.Container3 {
    margin-top: 150px;
}

.head {
    margin: auto;
    width: 550px;
    text-align: center;
}

.para2 {
    font-size: 26px;
    color: rgb(111, 110, 110);
}

.head h1 {
    font-size: 35px;
}

.card img {
    height: 100px;
    width: 120px;
    border-radius: 15px;
}

.card {
    width: 300px;
    padding: 15px 20px;
    text-align: center;
    box-shadow: 5px 8px 28px rgba(23, 23, 36, 0.1);
}
.card:hover{
    background-color: rgb(246, 188, 80);
    color: #fff;
    transition: all 0.2s ease-in-out;
}
.card p {
    color: gray;
}

.cards {

    width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 70px;
    margin-top: 80px;
}
.footer{
    margin-top: 80px;
    height: 200px;
    width: 100%;
    background-color: rgb(0, 0, 136);
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}
.icons i{
    margin-left: 14px;
    margin-right: 14px;
    font-size: 30px;
}
.icons a{
    color: #fff;
}

html{
    scroll-behavior: smooth;
}

.about{
    display: flex;
    justify-content: space-around;
}
.about-content{
    width: 600px;
    padding: 15px 20px;
    text-align: center;
    box-shadow: 5px 8px 28px rgba(23, 23, 36, 0.1);
}
#about-section{
    margin-top: 100px;
    margin-left: 200px;
    margin-right: 200px;
    height: 60vh;
}
#about-section h1{
    margin: 10px auto;
    width: 250px;
    margin-bottom: 30px;
}


.contact-section{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
}
.contact-left{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
}
.contact-left-title h2{
    font-weight: 600;
    color: orange;
    font-size: 40px;
    margin-bottom: 5px;
}

.contact-left-title hr{
    border: none;
    width: 120px;
    height: 5px;
    background-color:orange ;
    border-radius: 10px;
    margin-bottom: 20px;
}
.input{
    width: 400px;
    height: 50px;
    border: none;
    outline: none;
    padding-left: 25px;
    font-weight: 500;
    color:black;
    background-color:rgb(234, 239, 244);
    border-radius: 50px;
    font-size: 20px;
}
textarea{
    padding: 12px;
}
.contact-btn{
    background-color: orange;
    padding: 14px 25px;
    border-radius: 20px;
    color: white;
    border: none;
    font-size: 16px;
}