<!-- templates/service_list.html -->

{% extends 'base.html' %}

{% block title %}Services{% endblock %}

{% block header %}Available Services{% endblock %}

{% block content %}
    <ul>
        {% for service in services %}
            <li>
                <strong>{{ service.name }}</strong><br>
                Description: {{ service.description }}<br>
                <a href="{% url 'sub_service_form' service.id %}">Book Now</a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
