<!-- templates/success_page.html -->

{% extends 'base.html' %}

{% block title %}Success{% endblock %}

{% block header %}Appointment Successful{% endblock %}

{% block content %}
    <p>Your appointment has been successfully booked!</p>
    <p>Details:</p>
    <ul>
        <li>Service: {{ appointment.service.name }}</li>
        <li>Subservice: {{ appointment.subservice.name }}</li>
        <li>Name: {{ appointment.name }}</li>
        <li>Phone: {{ appointment.phone }}</li>
        <li>Date: {{ appointment.date }}</li>
        <li>Time: {{ appointment.time }}</li>
    </ul>
{% endblock %}
